* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

main {
    flex: 1;
}

.header, .footer {
    background: #85D7FF;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    text-transform: uppercase;
    color: #000000;
}

.header__menu {
    display: flex;
    gap: 30px;
    color: #000000;
}

.header__menu li a {
    cursor: pointer;
    color: #000000;
}

.header__menu li a.active {
    color: #EC5E0F;
}

.header__menu li > a:hover {
    color: #EC5E0F;
    transition: all 0.5s ease-in-out;
}

.main {
    padding: 35px 0;
    background: #E7E7E7;
    flex: 1;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.main-cards {
    padding-top: 63px;
    display: flex;
    gap: 30px;
}

.main-card {
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
}

.bg-laptop {
    background: #BCD1FF;
}

.bg-social {
    background: linear-gradient(to bottom right, #F395BA, #FED182);
}

.bg-business {
    background: #85D7FF;
}

.main-card__icon {
    padding: 24px 0;
    text-align: center;
}

.main-card__inner {
    padding: 15px 25px 25px;
    background: #fff;
}

.main-card__inner-genre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-card__inner-genre > a {
    font-weight: 600;
    text-transform: uppercase;
}

.text-genre {
    font-size: 11px;
    color: #6E798C;
    font-family: 'Open Sans', sans-serif;
}

.main-card__inner-subtitle {
    margin-bottom: 5px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #081F32;
}

.main-card__inner-text {
    margin-bottom: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #374A59;
}

.text-mb {
    margin-bottom: 25px;
}

.main-card__inner-link {
    text-align: end;
}

.main-card__inner-link > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #007AE9;
}

.footer-text {
    text-align: center;
    font-weight: 400;
    color: #000000;
}